@media screen and (max-width: 1080px) {
  .header-link {
    background-color: red; } }

.header-link {
  width: 100px;
  display: block; }
  .header-link-img {
    width: 100%; }

.header-top-text {
  margin: 10px; }
