a {
  width: 20px; }

#labIntro {
  color: white;
  background-color: #222;
  height: auto; }

.section-lab {
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 50px;
  font-size: 2.0rem; }

@media (max-width: 800px) {
  .section-lab {
    font-size: 1.5rem;
    padding: 105px 30px 30px 30px;
    margin-top: -10px; } }

.lab-img {
  text-align: center;
  margin: 10px; }

.lab-heading-stripe {
  margin: auto;
  margin-top: 0;
  height: 8px;
  width: 220px;
  background-image: linear-gradient(-45deg, #fff 25%, #444 25%, #444 50%, #fff 50%, #fff 75%, #444 75%, #444);
  background-size: 16px 16px; }
  .lab-heading-stripe-information {
    margin: auto;
    margin-top: 0;
    height: 8px;
    width: 120px;
    background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
    background-size: 16px 16px; }
  .lab-heading-stripe-device {
    margin: auto;
    margin-top: 0;
    height: 8px;
    width: 350px;
    background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
    background-size: 16px 16px; }
  .lab-heading-stripe-energy {
    margin: auto;
    margin-top: 0;
    height: 8px;
    width: 350px;
    background-image: linear-gradient(-45deg, #fff 25%, #444 25%, #444 50%, #fff 50%, #fff 75%, #444 75%, #444);
    background-size: 16px 16px; }

.lab-wrapper {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-bottom: 0;
  -webkit-flex-direction: row;
  /* Safari */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.lab-box {
  width: 45%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  /* Safari */
  flex-direction: column;
  align-items: center;
  margin-top: 30px; }

.lab-maintext {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: left; }

@media (min-width: 1000px) {
  .lab-box {
    width: 30%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    /* Safari */
    flex-direction: column;
    align-items: center;
    margin-top: 30px; } }

.lab-img {
  width: auto;
  height: auto;
  max-width: 95%;
  max-height: 95%;
  margin: auto;
  margin-bottom: 10px; }

.lab-text {
  text-align: center;
  width: 95%;
  flex-grow: 2;
  margin-bottom: 20px;
  display: -webkit-inline-flex;
  /* Safari */
  display: inline-flex;
  float: right;
  width: 403px;
  z-index: 0; }

.lab-title {
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-top: 30px;
  flex-grow: 0; }
  .lab-title-stripe-information {
    margin: auto;
    margin-top: 4px;
    height: 4px;
    width: 300px;
    background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
    background-size: 16px 16px;
    margin-bottom: 30px; }
    .lab-title-stripe-information-long {
      margin: auto;
      margin-top: 4px;
      height: 4px;
      width: 300px;
      background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
      background-size: 16px 16px;
      margin-bottom: 30px; }
  .lab-title-stripe-device {
    margin: auto;
    margin-top: 4px;
    height: 4px;
    width: 300px;
    background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
    background-size: 16px 16px;
    margin-bottom: 30px; }
    .lab-title-stripe-device-long {
      margin: auto;
      margin-top: 4px;
      height: 4px;
      width: 300px;
      background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
      background-size: 16px 16px;
      margin-bottom: 30px; }
  .lab-title-stripe-energy {
    margin: auto;
    margin-top: 4px;
    height: 4px;
    width: 180px;
    background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
    background-size: 16px 16px;
    margin-bottom: 30px; }
    .lab-title-stripe-energy-long {
      margin: auto;
      margin-top: 4px;
      height: 4px;
      width: 225px;
      background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
      background-size: 16px 16px;
      margin-bottom: 30px; }
  .lab-title-stripe-long {
    margin: auto;
    margin-top: 4px;
    height: 4px;
    width: 450px;
    background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
    background-size: 8px 8px; }
  .lab-title-stripe-mid {
    margin: auto;
    margin-top: 4px;
    height: 4px;
    width: 450px;
    background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
    background-size: 8px 8px; }

.lab-subtitle {
  font-size: 2.2rem;
  letter-spacing: 3px;
  margin-top: 30px;
  margin: auto;
  flex-grow: 0; }

@media (max-width: 600px) {
  .lab-img {
    text-align: center;
    margin: 10px;
    max-height: 400px;
    max-width: 100%; }
  .lab-maintext {
    width: 100%; }
  .lab-heading-stripe {
    margin-top: -15px;
    width: 200px; }
    .lab-heading-stripe-information {
      margin-top: -15px;
      width: 100px; }
    .lab-heading-stripe-device {
      margin-top: -15px;
      width: 200px; }
    .lab-heading-stripe-energy {
      margin-top: -15px;
      width: 250px; }
  .lab-wrapper {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    -webkit-flex-direction: column;
    /* Safari */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around; }
  .lab-box {
    width: 100%;
    min-width: auto;
    margin-bottom: 80px; }
  .lab-img {
    width: 400px; }
  .lab-text {
    width: 350px;
    margin-top: 15px; }
  .lab-title {
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin-top: 15px; }
    .lab-title-stripe {
      margin: auto;
      margin-top: 0;
      height: 4px;
      width: 140px;
      background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
      background-size: 8px 8px; }
  .lab-subtitle {
    font-size: 2.0rem; } }

#Information {
  background-color: #222;
  color: white; }

#device {
  background-color: white;
  color: black; }

#energy {
  background-color: #444;
  color: white; }

.Baba {
  transform: rotate(90); }
