a {
  width: 20px; }

#programming {
  color: white;
  background-color: #222; }

.section-works {
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 50px;
  font-size: 2.0rem; }

@media (max-width: 800px) {
  .section-works {
    font-size: 1.6rem;
    padding: 105px 30px 30px 30px; } }

.programming-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: left; }

.programming-wrapper {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-bottom: 0;
  -webkit-flex-direction: row;
  /* Safari */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.programming-box {
  width: 30%;
  min-width: 330px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  /* Safari */
  flex-direction: column;
  align-items: center;
  margin-top: 30px; }

.programming-main {
  width: 100%;
  position: relative; }

.programming-img {
  width: 400px;
  margin: auto; }

.programming-heading-stripe {
  margin: auto;
  margin-top: 0;
  height: 8px;
  width: 350px;
  background-image: linear-gradient(-45deg, #fff 25%, #222 25%, #222 50%, #fff 50%, #fff 75%, #222 75%, #222);
  background-size: 16px 16px; }

@media (max-width: 800px) {
  .programming-img {
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-top: 30px; }
  .programming-text {
    width: 100%; } }

#ework {
  color: black;
  background-color: white; }

.ework-heading-stripe {
  margin: auto;
  margin-top: 0;
  height: 8px;
  width: 250px;
  background-image: linear-gradient(-45deg, #fff 25%, #000 25%, #000 50%, #fff 50%, #fff 75%, #000 75%, #000);
  background-size: 16px 16px; }

.ework-wrapper {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-bottom: 0;
  -webkit-flex-direction: row;
  /* Safari */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.ework-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: left; }

.ework-box {
  width: 30%;
  min-width: 350px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  /* Safari */
  flex-direction: column;
  align-items: center;
  margin-top: 30px; }

@media (max-width: 800px) {
  .ework-box {
    width: 30%;
    min-width: 350px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    /* Safari */
    flex-direction: column;
    align-items: center;
    margin-top: 30px; }
  .ework-text {
    width: 100%; } }

.ework-main {
  width: 100%;
  position: relative; }

.ework-img {
  width: 95%;
  margin: auto;
  padding: 15px; }

#vr {
  color: white;
  background-color: #444; }

.vr-wrapper {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-bottom: 0;
  -webkit-flex-direction: row;
  /* Safari */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.vr-box {
  width: 30%;
  min-width: 330px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  /* Safari */
  flex-direction: column;
  align-items: center;
  margin-top: 30px; }

.vr-main {
  width: 100%;
  position: relative; }

.vr-img {
  width: 100%;
  margin: auto;
  padding: 15px; }

.vr-text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: left; }

.vr-heading-stripe {
  margin: auto;
  margin-top: 0;
  height: 8px;
  width: 330px;
  background-image: linear-gradient(-45deg, #fff 25%, #444 25%, #444 50%, #fff 50%, #fff 75%, #444 75%, #444);
  background-size: 16px 16px; }

@media (max-width: 800px) {
  .programming-heading-stripe {
    width: 300px;
    margin-top: -15px; }
  .ework-heading-stripe {
    width: 200px;
    margin-top: -15px; }
  .vr-img {
    max-width: 100%;
    width: 100%;
    margin: auto;
    margin-top: 30px; }
  .vr-text {
    width: 100%; }
  .vr-heading-stripe {
    width: 140px;
    margin-top: -15px; } }
