a {
	width: 20px;
}

#programming{
  color:white;
  background-color: #222;
}

.section-works{
  overflow: hidden;
	padding-bottom: 30px;
	padding-top: 50px;
	font-size: 2.0rem;
}

@media(max-width:800px){
	.section-works{
			font-size: 1.6rem;
			padding: 105px 30px 30px 30px;
		}
}

.programming{
	&-text{
		width:60%;
		margin-left:auto;
		margin-right:auto;
		clear: both;
	}

	&-wrapper{
		display: -webkit-flex;
		display: flex;
		width: 100%;
		margin-bottom: 0;

		-webkit-flex-direction: row; /* Safari */
		flex-direction:         row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	&-box{
		width: 27%;
		min-width: 330px;

		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; /* Safari */
		flex-direction:         column;

		align-items: center;

		margin-top: 30px;

	}

	&-main{
		width: 350px;
		height: 350px;
		position: relative;
	}


	&-img{
		width: 400px;
		max-height: 335px;
		margin: auto;
		padding: 15px;
	}

  &-heading-stripe{
    margin:auto;
    margin-top: 0;
    height: 8px;
    width: 350px;
    background-image: linear-gradient(-45deg,#fff 25%,#222 25%,#222 50%,#fff 50%,#fff 75%,#222 75%,#222);
    background-size: 16px 16px;
  }

}

@media(max-width:800px){
	.programming{
		&-img{
			max-width: 100%;
			width: 100%;
			margin: auto;
			margin-top: 30px;
		}

		&-text{
			width:100%;
		}
	}
}

#ework{
	color:black;
	background-color: white;
}

.ework{

	&-heading-stripe{
		margin:auto;
		margin-top: 0;
		height: 8px;
		width: 250px;
		background-image: linear-gradient(-45deg,#fff 25%,#000 25%,#000 50%,#fff 50%,#fff 75%,#000 75%,#000);
		background-size: 16px 16px;
	}

	&-wrapper{
		display: -webkit-flex;
		display: flex;
		width: 100%;
		margin-bottom: 0;

		-webkit-flex-direction: row; /* Safari */
		flex-direction:         row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	&-box{
		width: 27%;
		min-width: 330px;

		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; /* Safari */
		flex-direction:         column;

		align-items: center;

		margin-top: 30px;

	}

	&-main{
		width: 350px;
		height: 350px;
		position: relative;
	}


	&-img{
		width: 335px;
		max-height: 335px;
		margin: auto;
		padding: 15px;
	}


}

#vr{
  color:white;
  background-color: #444;
}

.vr{

	&-wrapper{
		display: -webkit-flex;
		display: flex;
		width: 100%;
		margin-bottom: 0;

		-webkit-flex-direction: row; /* Safari */
		flex-direction:         row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	&-box{
		width: 27%;
		min-width: 330px;

		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column; /* Safari */
		flex-direction:         column;

		align-items: center;

		margin-top: 30px;

	}

	&-main{
		width: 350px;
		height: 350px;
		position: relative;
	}


	&-img{
		width: 335px;
		max-height: 335px;
		margin: auto;
		padding: 15px;
	}

	&-text{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

  &-heading-stripe{
    margin:auto;
    margin-top: 0;
    height: 8px;
    width: 180px;
    background-image: linear-gradient(-45deg,#fff 25%,#444 25%,#444 50%,#fff 50%,#fff 75%,#444 75%,#444);
    background-size: 16px 16px;
  }

}

@media(max-width:800px){

	.programming{
		&-heading-stripe{
			width: 300px;
			margin-top: -15px;
		}
	}

	.ework{
		&-heading-stripe{
			width: 200px;
			margin-top: -15px;
		}
	}
	.vr{
		&-img{
			max-width: 100%;
		width: 100%;
		margin: auto;
		margin-top: 30px;
		}
		&-text{
			width:100%;
		}
		&-heading-stripe{
			width: 140px;
			margin-top: -15px;
		}
	}
}
