doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
		block title
		link(rel="icon" href="img/black_bulb.png")
		link(rel="stylesheet" href="css/reset.css")
		link(rel="stylesheet" href="css/header.css")
		link(rel="stylesheet" href="css/common.css")
		link(rel="stylesheet" href="css/jquery.bxslider.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script.
			$(function() {
				$('#navToggle').click(function(){//headerに .openNav を付加・削除
					$('header').toggleClass('openNav');
				});
			});
		block linkfiles



	body
		header.header
			a.header-link(href="index.html#top")
				img.header-link-img(src="/img/white_bulb.png" alt="eeic")
			.header-top
				.header-top-text
					p.header-top-text EEIC2018 近未来体験
					div.header-top-stripe
			.header-hamburger#navToggle
				span.header-hamburger-bar
				span.header-hamburger-bar
				span.header-hamburger-bar
			nav.header-global-nav
				ul.header-global-nav-list
					li.header-global-nav-list-item.no-wrap
							a.nav-content(href="index.html#contents") イベント一覧
					li.header-global-nav-list-item.no-wrap
							a.nav-content(href="index.html#links") リンク
					li.header-global-nav-list-item.no-wrap
							a.nav-content(href="index.html#access") アクセス
		section.under-header#top

		main
			block contents

		footer.footer
			p.footer-copyright Copyright &copy; EEIC 五月祭展示「近未来体験2018」All rights reserved.
