extends _layout.pug

block title
	title 学生製作物展示
block linkfiles
	link(rel="stylesheet" href="css/bdm.css")
    
block contents
	section.topCon
		img.topCon-img(src="img/topCon.jpg" alt="top")
	section.section-bdm#BDM
		h2.heading 学生製作物展示
		div.bdm-heading-stripe
		p.bdm-maintext このブースでは現4年生が「電子情報機器学」の講義で
			br.mobile
			|製作したもののうちの一部が展示されています。
			br
			|電気系の学生の柔軟な発想に
			br.mobile
			|ぜひ触れてみてください。

		div.bdm-wrapper
			div.bdm-box
				img.bdm-img(src="img/BBEgg.jpg" alt="BB-Egg")
				p.bdm-title BB-Egg
				div.bdm-title-stripe
				p.bdm-text BB-EGGはスターウォーズ
					br
					|フォースの覚醒に登場した
					br
					|キャラクターのBB-8をもとにして
					br
					|作ったロボットです。
					br
					|BB-EGGは映画と同じように、
					br
					|頭が固定のままで、回転して動けます。
					br
					|スマホでもBB-EGGを操作できます。
			div.bdm-box
				img.bdm-img(src="img/Finterior.png" alt="Finterior")
				p.bdm-title Finterior
				div.bdm-title-stripe
				p.bdm-text 金融を身近なものに！
					br
					|FinanceとInteriorを組み合わせた新概念、
					br
					|Finteriorの提唱！
					br
					|今流行りのビットコイン、その価格チャートを
					br
					|おしゃれなインテリアにしました！
					br
					|これがあれば、部屋にいる時いつでも価格を
					br
					|チェックできるので
					br
					|金融への意識向上間違いなし！
			div.bdm-box
				img.bdm-img(src="img/LEDLan.png" alt="IoTランタン")
				p.bdm-title IoTランタン
				div.bdm-title-stripe
				p.bdm-text IoTランタンという，
					br
					|IoTデバイスを作ってみました。
					br
					|ランタン光のオンオフ，明るさ，色を
					br
					|自分のスマートフォンで
					br
					|自由に操作することができます。
					br
					|また，明るさや色をワンタッチで調節できる
					br
					|プリセットも用意しました。
					br
					|スライダーを動かし，
					br
					|自分好みの明るさや色を
					br
					|見つけてみてください！
			div.bdm-box
				img.bdm-img(src="img/SUS.jpg" alt="スーパーアンブレラスタンド")
				p.bdm-title スーパー
					br.mobile
					|アンブレラスタンド
				div.bdm-title-stripe-long
				p.bdm-text スーパーアンブレラスタンドは、
					br
					|Suicaで傘を管理できるようになる傘立てです。
					br
					|自分の傘を他の人の傘と間違うことも、
					br
					|傘を盗まれることもなくなります。
					br
					|アプリとも連携していて、
					br
					|自分の傘がどうなってるか一目でわかります。
			div.bdm-box
				img.bdm-img(src="img/Theremin.jpg" alt="テルミン")
				p.bdm-title テルミン
				div.bdm-title-stripe
				p.bdm-text 世界で最初の電子楽器であるテルミンを
					br
					|アナログ回路で自作しました。
					br
					|本体に手を触れず、空間中の手の動きによって
					br
					|演奏できる不思議な楽器です。
					br
					|きれいな音を安定して出せるよう
					br
					|回路を工夫しました。
					br
					|さらにエフェクターを2種類組み込んであり、
					br
					|幅広い音色が楽しめます。
			div.bdm-box
				img.bdm-img(src="img/Hikarun.jpg" alt="ひかるん")
				p.bdm-title ひかるん
				div.bdm-title-stripe
				p.bdm-text 光を使ったコミュニケーションが
					br
					|できるランプです！
					br
					|ランプを振ることで
					br
					|光を変化させたり色を変えたりでき、
					br
					|相手に今の気分を伝えることができます！
			div.bdm-box
				img.bdm-img(src="img/KKYS.jpg" alt="今日は会社休みまスイッチ")
				p.bdm-title 今日は会社休みまスイッチ
				div.bdm-title-stripe-long
				p.bdm-text 「今日は会社休みまスイッチ」
					br
					|はその名の通り、
					br
					|押すと会社を休む宣言ができるスイッチです。
					br
					|具体的には、Googleカレンダーの
					br
					|予定を参照して、
					br
					|予定に記されているメールアドレスに
					br
					|「今日は休みます」という内容の
					br
					|メールが送信できます。
					br
					|布団から全く出ることなくボタンを押すだけで
					br
					|気軽にお休み連絡ができます。
			div.bdm-box
				img.bdm-img(src="img/train.jpg" alt="鉄道模型自動運転")
				p.bdm-title 鉄道模型自動運転
				div.bdm-title-stripe-mid
				p.bdm-text 線路上を走る電車の
					br
					|現在位置を検出することで、
					br
					|信号の色が変化し1本の線路上を
					br
					|２つの電車が同時に、
					br
					|衝突しないように走ります。
					br
					|途中で線路が切り替わって
					br
					|各停と急行の待ち合わせを行い、
					br
					|駅に止まると発車メロディーが流れます。
					br
					|本物さながらの動きをお楽しみください。
			div.bdm-box
				img.bdm-img(src="img/Hansha.png" alt="反射神経を鍛える")
				p.bdm-title 反射神経を鍛える
				div.bdm-title-stripe-mid
				p.bdm-text 自分の反射神経を試してみてください。
					br
					|ペンつかみゲームを自動化して
					br
					|ひとりでプレイできるようにしました。
					br
					|ペンつかみゲームは，
					br
					|落下するペンを掴むゲームで，
					br
					|手軽に遊べて反射神経が鍛えられます。
					br
					|原理はとても簡単で，
					br
					|電磁石のON/OFFを制御して
					br
					|金属の棒を自動で落下させます。
					br
					|これを掴むことができるか，
					br
					|試してみてください
