extends _layout.pug

block title
	title 近未来体験2018

block linkfiles
	link(rel="stylesheet" href="css/top.css")
		
block headervar
	- headerlink=""

block contents
	section.hero
		img.top-img(src="img/topCon.jpg" alt="top")

	section.about#about
		h2.heading ABOUT
		div.heading 
		div.about-heading-stripe
		div.about-wrapper
			p.about-text
				|『近未来体験2018』は電子情報工学科・電気電子工学科の学生が主催する五月祭展示企画のことです。
				|幅広い分野の最先端の研究や、学生がオリジナルに制作したメカやゲームを見て聞いて体験していただけます。
				br
				|電気・電子・情報に興味のある大学生や高校生はもちろん、
				|「東大の学問・研究を感じたい」という大人の方、
				|「なにか五月祭で面白い体験をしたい」という家族連れ、小中学生も大歓迎です♪
				br
				|ぜひとも気軽にご来場ください！
				br
				br
				|日時:　5/19(土)、5/20(日) 9:00-18:00
				br
				|場所:　東京大学本郷キャンパス
				br
				|　　　工学部2号館2階フォーラム2階フォーラム（案内デスク）
	section.section-main#contents
		h2.heading 企画一覧
		div.contents-heading-stripe
		div.contents-wrapper
			a.contents-box(href="works.html#programming")
				div.contents-main
					img.contents-img(src="img/programming2.png" alt="プログラミング教室")
					p.contents-title プログラミング教室
			a.contents-box(href="works.html#ework")
				div.contents-main
					img.contents-img(src="img/ework1.jpeg" alt="電子工作教室")
					p.contents-title 電子工作教室
			a.contents-box(href="works.html#vr")
				div.contents-main
					img.contents-img(src="img/vr3.jpg" alt="vrゲーム体験")
					p.contents-title VRゲーム体験
			a.contents-box(href="paper.html")
				div.contents-main
					img.contents-img(src="img/paper.jpg" alt="優秀卒業論文発表")
					p.contents-title 優秀卒業論文発表
			a.contents-box(href="bdm.html")
				div.contents-main
					img.contents-img(src="img/LEDLan.png" alt="学生制作物展示")
					p.contents-title 学生制作物展示
			a.contents-box(href="lab.html")
				div.contents-main
					img.contents-img(src="img/kawahara.jpg" alt="研究室展示")
					p.contents-title 研究室展示

	section.section-main#access
		h2.heading アクセス
		div.access-heading-stripe
		div.access-box
			iframe.access-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.486358958482!2d139.75965870080654!3d35.71425548567039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c31ccfe03e1%3A0x3d9424d7feac6c9f!2z44CSMTEzLTAwMzMg5p2x5Lqs6YO95paH5Lqs5Yy65pys6YO377yX5LiB55uu77yTIOadseS6rOWkp-WtpuacrOmDt-OCreODo-ODs-ODkeOCueW3peWtpumDqO-8kuWPt-mkqA!5e0!3m2!1sja!2sjp!4v1491390789035"
			 allowfullscreen)
			p.access-text
				b 会場
				br
				|東京大学本郷キャンパス
				br
				|工学部2・3・13号館
				br
				|
				br
				|
				br
				|本郷三丁目駅から徒歩17分
				br
				|東大前駅から徒歩8分
				br
				|根津駅から徒歩7分

	section.section-main#links
		h2.heading リンク
		div.heading-stripe
		div.contents-wrapper
				a.contents-box.links(href="http://ut-mech.com" target="_blank")
					img.link-img(src="img/mech.jpg" alt="工学部機械工学科")
					h4 工学部
						br.mobile
						|機械工学科・
						br.mobile
						|機械情報工学科
				a.contents-box.links(href="https://ap-phys.net/18/" target="_blank")
					img.link-img(src="img/Keisu.jpg" alt="工学部計数工学科")
					h4 工学部
						br.mobile
						|計数工学科・
						br.mobile
						|物理工学科
				a.contents-box.links(href="https://mayfes2018-utatane.com/" target="_blank")
					img.link-img(src="img/utatane.jpg" alt="utatane")
					h4 	UTaTané
						br.mobile
						|(大学院情報理工学研究科有志)

