extends _layout.pug

block title
  title 研究室展示
block linkfiles
  link(rel="stylesheet" href="css/lab.css")
    
block contents
  section.topCon
    img.topCon-img(src="img/topCon.jpg" alt="top")

  section.section-lab#labIntro
    h2.heading 研究室展示
    div.lab-heading-stripe
    p.lab-maintext 
      |電子情報・電気電子工学科で行われる最先端の研究についてわかりやすくご紹介します。
      |高校・大学生はもちろん、小・中学生や大人も興味をもっていただける展示が盛り沢山！
      br
      |実際にその手で体験していただける企画もありますので、
      |ぜひお越しになって、その手で、その目で「研究」を感じ取って下さい！
      br
      br
      |場所:&nbsp;&nbsp;&nbsp;工学部2号館3階電気系会議室1・3
      br 
      |　　　工学部2号館2階サブウェイ前
      br
      |　　　工学部2号館前道路
      br
      |日時: 5/19-20 9:00-18:00
      
      div.lab-wrapper
        div.lab-box
          p.lab-title 銀ナノインクワークショップ
          div.lab-title-stripe-information
          img.lab-img(src="img/kawahara.jpg" alt="銀ナノインク")
  
  
        div.lab-box
          p.lab-title 食事認識アプリ・AIメイクアプリ 
          div.lab-title-stripe-information-long
          img.lab-img(src="img/Aizawa.jpg" alt="FoodLog")
            
            
        div.lab-box
          p.lab-title 知の情報処理
          div.lab-title-stripe-information
          img.lab-img(src="img/Aizawa.jpg" alt="知の情報処理")
            
        div.lab-box
          p.lab-title 情報可視化システム
          div.lab-title-stripe-information
          img.lab-img(src="img/yatani.jpg" alt="情報可視化")
  
        div.lab-box
          p.lab-title 筋電図でラジコンを動かそう
          div.lab-title-stripe-device
          img.lab-img(src="img/Sekino.jpg" alt="")
        
        div.lab-box
          p.lab-title ゲートアレイによる
            br.mobile
            |集積回路の設計と
            br
            |マイクロマシンへの応用
          div.lab-title-stripe-device
          img.lab-img(src="img/Mita.jpg" alt="集積回路設計")
            
        div.lab-box
          p.lab-title 光インターコネクションのための
            br
            |半導体デバイス
          div.lab-title-stripe-device-long
          img.lab-img(src="img/TTK.jpg" alt="ガスセンサ")
  
        div.lab-box
          p.lab-title 生体調和エレクトロニクス 
          div.lab-title-stripe-device
          img.lab-img(src="img/Someya.png" alt="")
            
            
  
        div.lab-box
          p.lab-title 極低温での不思議な現象
            br
            |「超電導」に触れよう！
          div.lab-title-stripe-energy
          div.lab-img-box
            img.lab-img(src="img/Ohsaki.jpg" alt="磁気浮上")
                      
        div.lab-box
          p.lab-title 雷実験
          div.lab-title-stripe-energy-long
          img.lab-img(src="img/HKK.jpg" alt="高電圧実験")
    
        div.lab-box
          p.lab-title 超電導の世界・磁気浮上
          div.lab-title-stripe-energy
          img.lab-img.Baba(src="img/Baba3.jpg" alt="リニアモーターカー")
    
        div.lab-box
          p.lab-title 無線給電で走る未来の電気自動車
          div.lab-title-stripe-energy
          img.lab-img(src="img/HFK.jpg" alt="電気自動車")
