extends _layout.pug

block title
  title 研究室展示
block linkfiles
  link(rel="stylesheet" href="css/lab.css")
    
block contents
  section.topCon
    img.topCon-img(src="img/topCon.jpg" alt="top")

  section.section-lab#labIntro
    h2.heading 研究室展示
    div.lab-heading-stripe
    p.lab-maintext 
      |このブースでは東京大学電気系の
      |各研究室の企画が展示されています。
      |東京大学の最先端の研究の一端を
      |体験してください。
      
  section.section-lab#Information
    h2.heading 情報
    div.lab-heading-stripe-information
    p.lab-maintext 
      |生活の中でさらに重要性が
      |増している情報技術
      |IoTをはじめとした情報技術の
      |最先端をご覧ください。
      
    div.lab-wrapper
      div.lab-box
        p.lab-title 川原研究室
        div.lab-title-stripe-information
        img.lab-img(src="img/kawahara.jpg" alt="銀ナノインク")
        p.lab-subtitle 銀ナノインク
        p.lab-text 
          |紙に書くだけで電気を通す不思議なペンを
          |使ったワークショップを行います。
          |自由にお絵描きした線が
          |電気を通すようになり、
          |LEDを光らせることができます。 
          |自分の目で見て手を動かしながら
          |回路を描くことで、
          |普段の生活ではイメージしづらい「電気」を
          |一歩身近に感じることができるはずです。

      div.lab-box
        p.lab-title 相澤・山崎研究室
        div.lab-title-stripe-information-long
        img.lab-img(src="img/Aizawa.jpg" alt="FoodLog")
        p.lab-subtitle FoodLog・電子化粧
        p.lab-text 
          |画像認識技術を応用したFoodLog
          |と電子化粧の展示を行います。
          |FoodLogはあなたのスマホに
          |保存されている食事画像から
          |料理名やカロリー推定を行います。
          |電子化粧はあなたの魅力を最大化する化粧を
          |お顔の画像に合成し、その化粧後のお顔の
          |画像を印刷したものをお渡しします。
          |最先端技術をぜひ体験してみてください！
          
          
      div.lab-box
        p.lab-title 鶴岡研究室
        div.lab-title-stripe-information
        img.lab-img(src="img/.jpg" alt="知の情報処理")
        p.lab-subtitle 知の情報処理
        p.lab-text 
          |知の情報処理とは、計算機に
          |知的・人間的な情報処理をさせることです。
          |ここでは、自然言語処理と
          |コンピュータゲームプレイヤについて
          |展示を行っています。 
          |実際にコンピュータと対戦もできるので
          |ぜひ遊んでみてください
          
      div.lab-box
        p.lab-title 矢谷研究室
        div.lab-title-stripe-information
        img.lab-img(src="img/yatani.jpg" alt="情報可視化")
        p.lab-subtitle 情報可視化システム
        p.lab-text 
          |矢谷研究室(IIS-Lab)では五月祭を楽しめる
          |コンテンツがわかりやすくまとまった
          |「五月祭アプリ」、
          |学生が製作した「情報可視化システム」
          |の2つを展示しています。
          |どちらも「見て、触って」楽しめる展示
          |なのでぜひ遊びに来てください。
          
  section.section-lab#device
    h2.heading 電子デバイス
      br.mobile
      |・バイオ
    div.lab-heading-stripe-device
    p.lab-maintext 
      |情報化社会の基盤となる
      |半導体デバイス技術
      |普段意識せずに使用している技術に
      |触れてみてください。
              
    
    div.lab-wrapper
      div.lab-box
        p.lab-title 関野研究室
        div.lab-title-stripe-device
        img.lab-img(src="img/Sekino.jpg" alt="")
        p.lab-subtitle 筋電図でラジコンを動かそう
        p.lab-text  
          |こちらのショベルカー、普通のラジコン
          |のようなコントローラはありません。
          |代わりにあなたの「腕」で操ってもらいます。 
          |腕に小さい電極を張り付け、
          |腕の筋肉を流れる電流を測ることで、
          |腕や指の傾き、力の入れ方を認識し、
          |そのパターンによって
          |ラジコンのショベルカーを操作します。
          |「ハンドパワー」ならぬ、
          |「アームパワー」を体験してみませんか?
      
      div.lab-box
        p.lab-title 三田研究室
        div.lab-title-stripe-device
        img.lab-img(src="img/Mita.jpg" alt="集積回路設計")
        p.lab-subtitle 
          |ゲートアレイによる
          |集積回路の設計
          |マイクロマシンへの応用
          |大規模集積回路(VLSI)作製技術を用いて
          |東京大学のクリーンルームにおいて作製した
          |チップと、同じく大学内において作製可能な
          |マイクロマシン(MEMS)技術
          |について紹介します。
          |電子回路に興味のある人もそうでない人も
          |是非見に来てください。
          
      div.lab-box
        p.lab-title 高木・竹中研究室
        div.lab-title-stripe-device-long
        img.lab-img(src="img/TTK.jpg" alt="ガスセンサ")
        p.lab-subtitle ガスセンサを用いた展示
        p.lab-text  
          |現在の情報技術はシリコンを始めとする
          |半導体デバイス技術の上に成り立っています。 
          |今回は、半導体デバイス技術の一例として、
          |ガスセンサを用いた展示を行います。
          |ケーキにゆっくりと息を吹きかけると
          |LEDのロウソクが…!
          
      div.lab-box
        p.lab-title 染谷研究室
        div.lab-title-stripe-device
        img.lab-img(src="img/Someya.png" alt="")
        p.lab-subtitle フレキシブルデバイス
        p.lab-text  
          |「柔らかさ」や「軽さ」に焦点を当てた
          |次世代の電子デバイス：
          |フレキシブルデバイスの
          |プロトタイプを展示します。
          |衣服や体に無理なく埋め込むことで、
          |IoT時代の医療・ヘルスケアを
          |サポートすることを目指しています。
          |五月祭では、極薄基板に作成した
          |羽より軽い回路や、
          |布地に作成した伸縮性センサなどを
          |展示する予定です。
          
          
  section.section-lab#energy
    h2.heading エネルギー・制御
    div.lab-heading-stripe-energy
    p.lab-maintext 
      |この社会を根底から支えるエネルギー技術や
      |あらゆる分野で活躍する制御技術の展示です。
      |縁の下の力持ちといえる
      |これらの分野について学びませんか?
    
    div.lab-wrapper
      div.lab-box
        p.lab-title 大崎研究室
        div.lab-title-stripe-energy
        img.lab-img(src="img/Ohsaki.jpg" alt="磁気浮上")
        p.lab-subtitle 極低温での不思議な現象「超電導」に触れよう！
        p.lab-text  
          |大崎研究室では超電導の応用を研究しており、
          |今回は高温超電導体と-196℃の液体窒素を
          |用いた磁気浮上の展示を行います。
          |この機会に是非「超電導」を
          |体験してください。

                    
      div.lab-box
        p.lab-title 日高・熊田研究室
        div.lab-title-stripe-energy-long
        img.lab-img(src="img/HKK.jpg" alt="高電圧実験")
        p.lab-subtitle 雷実験
        p.lab-text  
          |迫力満点の雷現象や、
          |息をのむほど美しい放電現象を、
          |皆様の目の前でお見せします。
          |実際の雷ってどんな感じ？
          |雷から身を守るには？
          |雷が落ちたらどうなるの？ 
          |ここで見なくてはきっと
          |一生見ることのできない実験ばかり！！
          |ぜひその目でお確かめください。
          |お見逃しなく！
  
  
      div.lab-box
        p.lab-title 馬場研究室
        div.lab-title-stripe-energy
        img.lab-img.Baba(src="img/Baba.jpg" alt="リニアモーターカー")
        p.lab-subtitle リニアモーターカー
        p.lab-text 
          |電流が磁界を生み、磁界が電流を生む。 
          |そして、電流と磁界がいっしょになって
          |力を生み出します。
          |そんな不思議な力を利用して、
          |リニアモーターカーは前へと進みます。
          |地下鉄などに使われている
          |鉄輪式リニアモーターカーの力を
          |ぜひ体感してください。
      
  
      div.lab-box
        p.lab-title 堀・藤本研究室
        div.lab-title-stripe-energy
        img.lab-img(src="img/HFK.jpg" alt="電気自動車")
        p.lab-subtitle なんかすごいぞ！電気のチカラ！(仮)
        p.lab-text  
          |将来の電気自動車は道路から無線で
          |送られた電気を使って走るかもしれません。
          |車体からインホイールモータへ無線で電気を！
          |送って走る未来の電気自動車の実際のモータの
          |デモと受送電コイルの展示や、
          |ミニ四駆を用いた無線給電デモ。
          |スリップを防ぐ電気自動車の
          |走行実験もご覧頂けます。
          
