extends _layout.pug

block title
  title 優秀卒業論文発表
block linkfiles
  link(rel="stylesheet" href="css/paper.css")
  
block contents
  section.topCon
    img.topCon-img(src="img/topCon.jpg" alt="top")
  section.section-paper#paper
    h2.heading 優秀卒業論文発表
    div.paper-heading-stripe
    p.paper-maintext 
      |電気・電子・情報分野の最先端の研究を日々行う学生たち。
      br
      |その中でも特に優秀な成果をおさめた学生たちが自身の研究の発表を行います。
      |高校生程度の知識があれば理解できる内容となっているので、
      |ぜひ足を運んで「東大の研究」を見に来てはいかがでしょうか？
      br
      br
      |場所:　2号館4階245講義室にてお待ちしております。
      br
      |時間:　15:00~16:20
      
    section.section-paper#table
      h3.paper-subheading 発表内容及び時間
      div.paper-subheading-stripe
      
      table.paper-table
        tr
          th.paper-table-date 日付
          th.paper-table-time 時間
          th.paper-table-name 発表者
          th.paper-table-main タイトル
        tr
          td.paper-table-date(rowspan="4") 5/19
          td.paper-table-time 15:00～15:20
          td.paper-table-name 別所祐太朗
          td.paper-table-body 「リカバリペナルティのSTRAIGHTアーキテクチャによる削減」
        tr
          td.paper-table-time 15:20～15:40
          td.paper-table-name 前匡鴻
          td.paper-table-body 「2 自由度超精密位置決めステージにおける並進と回転の干渉を
            br
            |考慮したマルチレートフィードフォワード制御に関する研究」
        tr
          td.paper-table-time 15:40～16:00
          td.paper-table-name 隅田圭
          td.paper-table-body 「InAs on Insulator構造の作製とトランジスタ応用」
        tr
          td.paper-table-time 16:00～16:20
          td.paper-table-name 藤澤徹
          td.paper-table-body 「コールサイトローカルな型情報による効率的な関数インライン展開」
        tr
          td.paper-table-date(rowspan="4") 5/20
          td.paper-table-time 15:00～15:20
          td.paper-table-name 大鶴拓哉
          td.paper-table-body 「アフレコ自動採点を目的とした
            br
            |発話の音韻的・韻律的比較に関する実験的検討」
        tr
          td.paper-table-time 15:20～15:40
          td.paper-table-name 田口富隆
          td.paper-table-body 「Ge/SiハイブリッドMOS型光変調器の解析と作製」
        tr
          td.paper-table-time 15:40～16:00
          td.paper-table-name 中村信
          td.paper-table-body 「インバータサージ下における絶縁ゲル中の部分放電現象」
        tr
          td.paper-table-time 16:00～16:20
          td.paper-table-name 杉山昇太郎
          td.paper-table-body 「楕円曲線を用いたデジタル署名の高速ハードウェア実装」
