extends _layout.pug

block title
  title 優秀卒業論文発表
block linkfiles
  link(rel="stylesheet" href="css/paper.css")
  
block contents
  section.topCon
    img.topCon-img(src="img/topCon.jpg" alt="top")
  section.section-paper#paper
    h2.heading 優秀卒業論文発表
    div.paper-heading-stripe
    p.paper-maintext 情報や電気、制御といった幅広い分野に関する
      br.mobile
      |様々な分野の研究成果の発表を行います。
      br
      |発表される研究は昨年度の学部4年生が行った
      br.mobile
      |卒業研究のうち、優秀卒論に選ばれたものです。
      br
      |東大電気系でどのような研究が
      br.mobile
      |行われているのかをご覧いただけます。
      
    section.section-paper#table
      h3.paper-subheading 発表内容及び時間
      div.paper-subheading-stripe
      
      table.paper-table
        tr
          th.paper-table-date 日付
          th.paper-table-time 時間
          th.paper-table-name 発表者
          th.paper-table-main タイトル
        tr
          td.paper-table-date(rowspan="4") 5/19
          td.paper-table-time 15:00
            br.mobile
            |～
            br.mobile
            |15:20
          td.paper-table-name 別所
            br.mobile
            |祐太朗
          td.paper-table-body 「リカバリペナルティの
            br.mobile
            |STRAIGHTアーキテクチャ
            br.mobile
            |による削減」
        tr
          td.paper-table-time 15:20
            br.mobile
            |～
            br.mobile
            |15:40
          td.paper-table-name 前 
            br.mobile
            |匡鴻
          td.paper-table-body 「2 自由度超精密位置決め
            br.mobile
            |ステージにおける
            br.mobile
            |並進と回転の干渉を
            br
            |考慮したマルチレート
            br.mobile
            |フィードフォワード制御
            br.mobile
            |に関する研究」
        tr
          td.paper-table-time 15:40
            br.mobile
            |～
            br.mobile
            |16:00
          td.paper-table-name 隅田 
            br.mobile
            |圭
          td.paper-table-body 「InAs on Insulator構造の
            br.mobile
            |作製とトランジスタ応用」
        tr
          td.paper-table-time 16:00
            br.mobile
            |～
            br.mobile
            |16:20
          td.paper-table-name 藤澤 
            br.mobile
            |徹
          td.paper-table-body 「コールサイトローカルな
            br.mobile
            |型情報による効率的な
            br.mobile
            |関数インライン展開」
        tr
          td.paper-table-date(rowspan="4") 5/20
          td.paper-table-time 15:00
            br.mobile
            |～
            br.mobile
            |15:20
          td.paper-table-name 大鶴 
            br.mobile
            |拓哉
          td.paper-table-body 「アフレコ自動採点
            br.mobile
            |を目的とした
            br
            |発話の音韻的・韻律的比較に
            br.mobile
            |関する実験的検討」
        tr
          td.paper-table-time 15:20
            br.mobile
            |～
            br.mobile
            |15:40
          td.paper-table-name 田口 
            br.mobile
            |富隆
          td.paper-table-body 「Ge/SiハイブリッドMOS型
            br.mobile
            |光変調器の解析と作製」
        tr
          td.paper-table-time 15:40
            br.mobile
            |～
            br.mobile
            |16:00
          td.paper-table-name 中村 
            br.mobile
            |信
          td.paper-table-body 「インバータサージ下における
            br.mobile
            |絶縁ゲル中の部分放電現象」
        tr
          td.paper-table-time 16:00
            br.mobile
            |～
            br.mobile
            |16:20
          td.paper-table-name 杉山 
            br.mobile
            |昇太郎
          td.paper-table-body 「楕円曲線を用いた
            br.mobile
            |デジタル署名の
            br.mobile
            |高速ハードウェア実装」
