extends _layout.pug
block title
	title 体験企画
block linkfiles
	link(rel="stylesheet" href="css/works.css")
    
block contents
	section.topCon
		img.topCon-img(src="img/topCon.jpg" alt="top")
	section.section-works#programming
		h2.heading プログラミング教室
		div.programming-heading-stripe
		div.programming-wrapper
			div.programming-box
				div.programming-main
					img.programming-img(src="img/programming2.jpg" alt="programming")
			div.programming-box
				div.programming-main
					img.programming-img(src="img/programming2.jpg" alt="programming")
		p.programming-text 
			|アイテムを駆使しながらキャラクターを
			|縦横無尽に動かしてダンジョンを攻略しよう！！
			|君はどのレベルまでクリアできるかな？
			|ゲームで遊びながら
			|楽しくプログラミングの
			|基礎を勉強しよう！！
			|対象：中学生くらいまでのプログラミング初心者
	section.section-works#ework
		h2.heading 電子工作教室
		div.ework-heading-stripe
		div.ework-wrapper
			div.ework-box
				div.ework-main
					img.ework-img(src="img/ework1.jpeg" alt="電子工作教室1")
			div.ework-box
				div.ework-main
					img.ework-img(src="img/ework2.jpeg" alt="電子工作教室2")
			div.ework-box
				div.ework-main
					img.ework-img(src="img/ework3.jpeg" alt="電子工作教室3")
		p.ework-text テキスト未定
	section.section-works#vr
		h2.heading VR教室
		div.vr-heading-stripe
		div.vr-wrapper
			div.vr-box
				div.vr-main
					img.vr-img(src="img/vr3.png" alt="vr")
			div.vr-box
				div.vr-main
					img.vr-img(src="img/vr3.png" alt="vr")
		p.vr-text 
			|VR体験では最新のVR機器を用いた
			|没入感たっぷりで爽快な
			|テニスゲームが体験できます！
			|マルチプレイによる白熱した
			|対戦が楽しめるでしょう！
			|また、会場は非日常的な
			|空間となっていて、
			|ゲームの観戦もできるように
			|なっているので、
			|ぜひお立ち寄りください。
  
