extends _layout.pug
block title
	title 体験企画
block linkfiles
	link(rel="stylesheet" href="css/works.css")
    
block contents
	section.topCon
		img.topCon-img(src="img/topCon.jpg" alt="top")
	section.section-works#programming
		h2.heading プログラミング教室
		div.programming-heading-stripe
		div.programming-wrapper
			div.programming-box
				div.programming-main
					img.programming-img(src="img/programming.jpg" alt="programming")
			div.programming-box
				div.programming-main
					img.programming-img(src="img/programming2.png" alt="programming")
		p.programming-text 
			|ゲームで遊びながら楽しくプログラミングの基礎を勉強しよう！！
			br
			|アイテムを駆使しながらキャラクターを縦横無尽に動かしてダンジョンを攻略♪
			br
			|君はどのレベルまでクリアできるかな？
			br
			br
			|場所:　工学部2号館4階241講義室
			br
			|時間:　9:00-18:00
			br
			|※午後は混雑が予想されるので、午前中の来場をおすすめします。
			br
			|※こちらは中学生くらいまでのプログラミング初心者が対象です。

	section.section-works#ework
		h2.heading 電子工作教室
		div.ework-heading-stripe
		div.ework-wrapper
			div.ework-box
				div.ework-main
					img.ework-img(src="img/ework1.jpeg" alt="電子工作教室1")
			div.ework-box
				div.ework-main
					img.ework-img(src="img/ework2.jpeg" alt="電子工作教室2")
			div.ework-box
				div.ework-main
					img.ework-img(src="img/ework3.png" alt="電子工作教室3")
		p.ework-text
			|毎年好評をいただいております電子工作教室、
			|今年もまた新たにオリジナル電子工作キットを用意しました。
			br
			|回路図、 配線図共に学生の手作りです。
			br
			|初級・中級・上級の3種類の難易度を用意しており、学生が丁寧にサポートいたしますので、
			br
			|小中学生の初心者から電子工作経験者まで幅広い方に楽しんでいただける内容となっています。
			|複数人での制作も歓迎ですので、この機会に
			|一緒に「メカ」を作って友達・親子の絆を深めてはいかがでしょうか？
			br
			br
			|場所:　工学部2号館4階41A講義室
			br
			|時間:　9:00-18:00
			br
			|※キット売り切れの場合がございますので、早めの来場をおすすめします。

	section.section-works#vr
		h2.heading VRゲーム体験
		div.vr-heading-stripe
		div.vr-wrapper
			div.vr-box
				div.vr-main
					img.vr-img(src="img/vr1.png" alt="vr")
			div.vr-box
				div.vr-main
					img.vr-img(src="img/vr2.jpg" alt="vr")
			div.vr-box
				div.vr-main
					img.vr-img(src="img/vr3.jpg" alt="vr")
		p.vr-text 
			|最新VR機器×学生オリジナルゲーム！
			br
			br
			|話題のVR。ここでは、最新鋭のVR機器を使って
			|電子情報・電気電子工学科の超優秀な有志たちが
			|オリジナルに制作したVRテニスゲームを体験いただけます。
			br
			|非日常的な空間の中で白熱のゲーム。
			|周りの方も観戦しながらゲームに参加できるようになっておりますので、
			|お友達と、ご家族、もちろん一人でもぜひ体験に来て下さい！
			br
			br
			|場所:　工学部2号館10階電気系会議室5
			br
			|時間:　9:00-18:00
			br
			|※午後は混雑が予想されるので、午前中の来場をおすすめします。
			br
			|※小さいお子様は保護者の同伴が必要となります。
  
