extends _layout.pug
block title
	title 体験企画
block linkfiles
	link(rel="stylesheet" href="css/works.css")
    
block contents
	section.topCon
		img.topCon-img(src="img/topCon.jpg" alt="top")
	section.section-works#programming
		h2.heading プログラミング教室
		div.programming-heading-stripe
		img.programming-img(src="img/programming2.jpg" alt="programming")
		p.programming-text アイテムを駆使しながらキャラクターを
			br.mobile
			|縦横無尽に動かしてダンジョンを攻略しよう！！
			br
			|君はどのレベルまでクリアできるかな？
			br
			|ゲームで遊びながら
			br.mobile
			|楽しくプログラミングの基礎を勉強しよう！！
			br
			|対象：中学生くらいまでのプログラミング初心者
	section.section-works#ework
		h2.heading 電子工作教室
		div.ework-heading-stripe
		div.ework-wrapper
			div.ework-box
				div.ework-main
					img.ework-img(src="img/ework1.jpeg" alt="電子工作教室1")
			div.ework-box
				div.ework-main
					img.ework-img(src="img/ework2.jpeg" alt="電子工作教室2")
			div.ework-box
				div.ework-main
					img.ework-img(src="img/ework3.jpeg" alt="電子工作教室3")
		p.ework-text テキスト未定
	section.section-works#vr
		h2.heading VR教室
		div.vr-heading-stripe
		img.vr-img(src="img/vr3.png" alt="vr")
		p.vr-text VR体験では最新のVR機器を用いた
			br.mobile
			|没入感たっぷりで爽快な
			br.mobile
			|テニスゲームが体験できます！
			br
			|マルチプレイによる白熱した
			br.mobile
			|対戦が楽しめるでしょう！
			br
			|また、会場は非日常的な空間となっていて、
			br.mobile
			|ゲームの観戦もできるようになっているので、
			br.mobile
			|ぜひお立ち寄りください。
  
